body {
  font-family: 'Dongle', sans-serif;
  font-size: 20px; 
  background: #FAFAFA;
  color: #4C4E61;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-weight: 300;
}

.header h1:last-of-type {
  font-weight: 700;
  margin-bottom: 10px;
}

.header p {
  color: #A3A5AE;
  margin-bottom: 40px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 40px;
  align-items: center;
}

.card-center {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  background: #fff;
  border-radius: 8px;
  border-top: 4px solid;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.card h2 {
  margin: 0 0 10px;
  font-weight: 700;
}

.card p {
  color: #A3A5AE;
  margin: 0 0 20px;
}

.card img {
  width: 40px;
  align-self: flex-end;
}


.cyan { border-color: #45D3D3; }
.red { border-color: #EA5353; }
.orange { border-color: #FCAF4A; }
.blue { border-color: #549EF2; }


